
.element {
  position: absolute;
  left: 5%;
  cursor: pointer;
  letter-spacing: -5px;
}
.text {
  white-space: nowrap;
  letter-spacing: 2px;
}

.text > * {
  pointer-events: none;
}
.text span {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translate3d(0, 40px, 0);
          transform: translate3d(0, 40px, 0);
}
.text p {
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.text:hover span:nth-of-type(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}
.text:hover span:nth-of-type(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}
.text:hover span:nth-of-type(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}
.text:hover span:nth-of-type(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.text:hover span:nth-of-type(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.text:hover span:nth-of-type(6) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}
.text:hover span:nth-of-type(7) {
  -webkit-transition-delay: 0.49s;
          transition-delay: 0.49s;
}
.text:hover span:nth-of-type(8) {
  -webkit-transition-delay: 0.56s;
          transition-delay: 0.56s;
}
.text:hover span:nth-of-type(9) {
  -webkit-transition-delay: 0.63s;
          transition-delay: 0.63s;
}
.text:hover span:nth-of-type(10) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.text:hover span:nth-of-type(11) {
  -webkit-transition-delay: 0.77s;
          transition-delay: 0.77s;
}
.text:hover span {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
.text:hover p {
  top: -40px;
  opacity: 0;
}
